/* Bootstrap Navbar Fix */
.nav li a {display: block}
.navbar .nav li {float:left}
.navbar .nav li a {float: none;padding: 10px 15px 10px;color: #777777;text-decoration: none;}

/* Bootstrap Icon Fix */
.icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../img/glyphicons-halflings.png");
	background-repeat: no-repeat;
	margin-top: 1px;
	padding-left:3px;
}
.icon-white {
	background-image: url("../img/glyphicons-halflings-white.png");
}
/* IE6 does not support position:fixed, so remove the padding */
.container-first{
	padding-top: 0;
}



