---
layout: default
series_id: 4-buc-anh
page_title: Đằng sau 4 bức ảnh ám ảnh về chiến tranh Việt Nam
fb_title: Đằng sau 4 bức ảnh ám ảnh về chiến tranh Việt Nam
description: "Giai đoạn trước 1975, các bức hình ám ảnh về chiến tranh ở Việt Nam liên tục được truyền đi và gây rúng động toàn thế giới. Hãy cùng xem lại 4 bức ảnh mang tính biểu tượng nhất, mang trong mình những câu chuyện lịch sử không thể nào quên."
fb_description: Những câu chuyện không thể nào quên
site_home: true
image: /media/o_du_kich.jpg
---
<h4 style="margin-top: 35px">LOẠT BÀI:</h4>
<h2 style="margin-top: 10px;margin-bottom:20px">Những bức ảnh thay đổi thế giới</h2>
<div>
	<p>{{page.description}}</p>
	<p style="margin-bottom:15px"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | cgi_escape }}{{ page.url|remove:'index.html' | cgi_escape }}" class="btn-share" title="Chia sẻ bài này lên Facebook"><img alt="" src="/img/fb2.svg" style="margin-right:8px">Chia sẻ</a> <sub><span class="font-xxlarge">&larr;</span> click</sub></p>
</div>

{% for post in site.categories.4-buc-anh reversed %}
<article>
	{% if post.language == "en" %}
	  {% assign mc_readspead = 276 %}
	{% else %}
	  {% assign mc_readspead = 351 %}
	{% endif %}
	<p class="index-byline font-small muted">Bài {{forloop.index}} - dài {{ post.content | strip_html | number_of_words | divided_by:mc_readspead | plus:1}} phút</p>
	<h2 class="index-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
	{% if post.image %}
	<figure>
	  <div class="img-container" {% if post.image_origin %}data-origin="{{post.image_origin}}"{% endif %}{% if post.image_back %} style="background-color:{{post.image_back}}"{% endif %}>
		<a href="{{ post.url }}"><img class="img-post-cover{% if post.image_align %} auto-{{post.image_align}}{% endif %}" src="{{ post.image }}" {% if post.image_alt %}alt="{{ post.image_alt }}"{% endif %}></img></a>
	  </div>
	  {% if post.image_caption %}
	  <figcaption>{{ post.image_caption }}</figcaption>
	  {% endif %}
	</figure>
	{% endif %}
	<p>{{ post.excerpt }}</p>
	<a href='{{ post.url }}'>[Đọc bài...]</a>
</article>
{% endfor %}