---
layout: default
title: Trang không tồn tại
description: Có thể địa chỉ bị sai, hoặc trang đã thay đổi địa chỉ.
shareline: false
comment: false
---
<div style="padding-top:20px;" class="alert alert-block">
<h3>Trang không tồn tại!</h3>
<p>Có thể địa chỉ sai hoặc đã bị thay đổi. Chẳng sao cả, chuyện này vẫn thường xảy ra. Đã đến đây rồi, sao bạn không đọc thử vài bài?</p>
</div>

<div class="spacy-line"></div>

<div>
{% for post in site.posts %}
<article {% if forloop.first %}class="first-child"{% endif %}>
	<span class="topic">{{ post.topic }}</span>
	<h4 class="index-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
	<p class="font-small muted">Viết bởi <a href="about.html">{% if post.author %}{{ post.author }}{% else %}Trương Hồng Thi{% endif %}</a>, đăng ngày {{ post.date | date: "%d/%m/%Y" }}</p>
	{% if post.image %}
	<figure>
	  <div class="img-container" {% if post.image_origin %}data-origin="{{post.image_origin}}{% endif %}">
		<img src="{{ post.image }}" {% if post.image_caption %}alt="{{ post.image_caption }}" title="{{ post.image_caption }}"{% endif %}></img>
	  </div>
	  {% if post.image_caption %}
	  <figcaption>[Minh họa] {{ post.image_caption }}</figcaption>
	  {% endif %}
	</figure>
	{% endif %}
	<p>{{ post.excerpt }}</p>
	<a href='{{ post.url }}'>[Đọc bài...]</a>
</article>
{% endfor %}
</div>