	<hr class="line">
	<article class="article">
		<header class="article-header">
		<span class="post-label">LOẠT BÀI</span>
		<h1><a href="/4-buc-anh/1.html">Đằng sau 4 bức ảnh ám ảnh về chiến tranh Việt Nam</a></h1>
		<p class="by-line"><a href="/about.html">Trương Hồng Thi</a>{% include view_count.html series_id='4-buc-anh' new_line="true" %}</p>
		</header>

		<style>
			.img-group {
				font-size: 0;
			}
			.img-group a {
				display: inline-block;
				width: 50%;
			}
			.img-group img {
				width: 100%;
				max-width: 480px;
				box-sizing: border-box;
				border: 2px solid transparent;
			}
			.img-group img:hover {
				border-color: #2ca02c;
			}
			ol.series_list em a {margin-right:12px}
			ol.series_list em span {font-style:normal;font-size:0.7rem;white-space:nowrap}
		</style>
		
		<section class="article-body">
			<figure class="img-group">
				<a href="/4-buc-anh/1.html" style="text-align:right"><img src="/media/4-buc-anh/1.jpg"></a><a href="/4-buc-anh/3.html" style="text-align:left"><img src="/media/4-buc-anh/3.jpg"></a><a href="/4-buc-anh/2.html" style="text-align:right"><img src="/media/4-buc-anh/2.jpg"></a><a href="/4-buc-anh/4.html" style="text-align:left"><img src="/media/4-buc-anh/4.jpg"></a>
			</figure>
			<ol class="series_list">
				<li><p><em><a href="/4-buc-anh/1.html">Bức số 1 - 1963</a>{% include view_count.html url='/4-buc-anh/1.html' %}</em> Hòa thượng tự thiêu và kết cục bi thảm của Ngô Đình Diệm</p></li>
				<li><p><em><a href="/4-buc-anh/2.html">Bức số 2 - 1968</a>{% include view_count.html url='/4-buc-anh/2.html' %}</em> Hành quyết tại Sài Gòn - 1 bức ảnh 2 số phận</p></li>
				<li><p><em><a href="/4-buc-anh/3.html">Bức số 3 - 1972</a>{% include view_count.html url='/4-buc-anh/3.html' %}</em> Em bé Napalm - ngày ấy bây giờ</p></li>
				<li><p><em><a href="/4-buc-anh/4.html">Bức số 4 - 1975</a>{% include view_count.html url='/4-buc-anh/4.html' %}</em> Chiến dịch Gió lốc: Cuộc tháo chạy tán loạn khỏi Sài Gòn</p></li>
				<li><p><em><a href="/4-buc-anh/4-2.html">Bức số 4 (tiếp)</a>{% include view_count.html url='/4-buc-anh/4-2.html' %}</em> Cuộc tháo chạy tán loạn khỏi Sài Gòn</p></li>
			</ol>
		</section>
		<!--footer class="article-footer">
			<p style="text-align:left"><a href="/4-buc-anh/">[Chi tiết...]</a></p>
		</footer-->
	</article>