<section class="about-author">
<img class="fake-image" src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 98 98'%2F%3E" width="98" data-src="https://graph.facebook.com/100011684418381/picture?type=large" alt="Avatar tác giả">
<p><b>Bài của khách</b></p>
<p>Tác giả: <a href="https://www.facebook.com/profile.php?id=100011684418381" target="_blank">{{page.author}}</a></p>
<p>Bài viết thể hiện quan điểm riêng của tác giả và không nhất thiết trùng với quan điểm của Blog Măng cụt.</p>
<p><a href="/write-for-us.html" target="_blank">Viết cho Blog Măng cụt</a></p>
</section>