<style type="text/css" scoped>
.email-dialog {
	background-color:white;
	height: 220px;
	width: 320px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top:-140px;
	margin-left:-200px;
	z-index:951;
	display: none;
	padding: 30px;
	border: 10px solid #9e9;
	border-radius:20px;
}

@media (max-width: 414px), (max-height: 319px) {
.email-dialog {
    height: auto;
    width: auto;
    top: auto;
    left: 0;
    bottom: 0;
	right: 0;
    margin-top: 0;
    margin-left: 0;
    padding: 30px 20px;
    border: 5px solid #9e9;
	border-radius: 0;
}
}

.email-dialog h3 {
	margin-top: 0;
	margin-bottom: 20px;
}

.email-dialog .error-pane {
	color: #f33;
	margin-bottom:5px;
}

.email-dialog .progress-pane {
	color: #060;
}

.email-dialog button {
	position:absolute;
	right:5px;
	top:5px;
	width:24px;
	height:24px;
	line-height:24px;
	background-color:#333;
	color:#eee;
	border:0;
	border-radius:50%;
	font-weight:normal;
	font-size:1.6em;
	text-align:center;
	padding:0;
}

.show-gmail {
	display:none;
}
.gmail .show-gmail {
	display:inline;
}
.gmail .hide-gmail {
	display:none;
}
</style>

<div class="email-dialog">
	<div class="mail-subscribe-pane">
		<form class="email-form" novalidate>
			<h3>Wow, giải lao chút :D</h3>
			<p>Nếu bạn thích các bài viết ở đây, hãy để lại email. Chúng tôi sẽ liên lạc mỗi khi có bài mới đáng chú ý. Yên tâm, không bao giờ spam!</p>
			
			<div class="error-pane font-xsmall invisible">Vui lòng điền email hợp lệ.</div>
			<div><input type="email" name="EMAIL" placeholder="Email" style="width:95%;max-width:none;font-size:16px"></div>
			<div style="margin:12px 0 0 4px"><input type="submit" value="ĐĂNG KÍ" style="font-weight:bold">&nbsp;&nbsp;<span class="progress-pane font-xsmall hide">Đang xử lý...</span></div>
			
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_661f25198ea4106946ef46fb3_15234df566" tabindex="-1" value=""></div>
		</form>
	</div>
	<div class="mail-success-pane hide">
		<h3>Chỉ còn một bước nữa...</h3>
		<div class="alert alert-info">Blog Măng Cụt vừa gửi cho bạn một email. Vui lòng kiểm tra email để <b>xác nhận</b>.</div>

		<p class="font-xsmall"><b>Không tìm thấy email?</b> <span class="show-gmail">Bạn hãy thử xem ở tab <i>Quảng cáo (Promotions)</i> của Gmail.</span><span class="hide-gmail">Bạn hãy thử xem trong thư mục "thư rác". Một số dịch vụ email nhận nhầm chúng tôi là thư rác.</span></p>
		<div><input type="button" value="ĐÓNG" data-action="trigger" data-target="#overlayEmail" data-options="click"></div>
	</div>
	
	<button data-action="trigger" data-target="#overlayEmail" data-options="click">&times;</button>
</div>
<script type="text/javascript">
(function() {

if ($P.getStorage("emailPopupShown", true) ||
	$P.getStorage("emailSubscribed", true)) return;

function showEmailPopup() {
	$P.setStorage("emailPopupShown", "true");
	
	// show overlay
	var $overlay = $('#overlayEmail');
	if ($overlay.length === 0) {
		$overlay = $("<div id='overlayEmail'></div>")
			.appendTo($("body"))
			.show().
			click(function() {
				$(".email-dialog").fadeOut();
				$(this).fadeOut();
				$("body").removeClass("noscroll")
			});
	}
	
	Modernizr.touch && $("body").addClass("noscroll");
	$overlay.show();
	
	// show dialog
	$(".email-dialog").fadeIn();
}

$(".email-form").on("submit", function(ev) {
	
	ev.preventDefault();
	
	var $form = $(this);
	var $email = $form.find("input[type='email']");
	var $error = $form.find(".error-pane");//.hide();
	var $progress = $form.find(".progress-pane").hide();
	
	var $inputPane = $(".mail-subscribe-pane").show();
	var $successPane = $(".mail-success-pane").hide();
	
	var email = $.trim($email.val());
	var gmailSuffix = "@gmail.com";
	var gmail = (email.toLocaleLowerCase().substr(-gmailSuffix.length) === gmailSuffix);
	if (gmail) {
		$successPane.addClass("gmail");
	} else {
		$successPane.removeClass("gmail");
	}
	if ($P.validateEmail(email)) {
		$error.addClass("invisible");
		$progress.show();
		$.ajax({
			url: "//gmail.us20.list-manage.com/subscribe/post-json?u=661f25198ea4106946ef46fb3&amp;id=15234df566",
			data: $form.serialize(),
			dataType: 'jsonp',
			jsonp: 'c',
			success: function(data) {
				if (data.result === "error") {
					$progress.hide();
					$error.removeClass("invisible");
					$email.focus();
				} else {
					$inputPane.hide();
					$successPane.show();
					$P.setStorage("emailSubscribed", "true");
					ga && ga("send", "event", "Email", "Subscribe", email, Math.floor((new Date().getTime()) / 1440000));
				}
			}
		});
	} else {
		$error.removeClass("invisible");
		$email.focus();
	}
});

window.setTimeout(showEmailPopup, 180000);

})();
</script>
