<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
{% if page.hilight %}
<script src="{{site.syntax.js}}"></script>
{% endif %}
{% if page.comment != false %}
<script type="text/javascript">
	var disqus_identifier = "{% if page.disqus_id %}{{page.disqus_id}}{% else %}{{page.url}}{% endif %}";
	var disqus_url = "{{site.url}}{{page.url}}";
	var disqus_title = "{{site.name}} - {{page.title}}";
</script>
<script src="/js/disqus.js"></script>
{% endif %}
<script src="/js/poem.js"></script>
<script type="text/javascript">
/* Google Analytics */
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-8597504-3', 'mangcut.vn');
  ga('send', 'pageview');
/* End Goolge Analytics */
</script>
{% if page.is_post %}
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"0a540965b36e2af1d641c5db3","lid":"aa6b788882"}) })</script>
<script src="//load.sumome.com/" data-sumo-site-id="75ca68c4ecb185993a7516da5d644ac7890da8838b47f7e968361d9fb1852210" async="async"></script>
{% endif %}