<br>
<div class="alert font-small" style="border:1px solid skyblue;border-left-width:5px;background-color:transparent;padding-right:10px;">
	<b><u>About the Author</u></b>
	<div class="pull-right" style="margin:5px 10px;padding:5px;-webkit-box-shadow: 0 1px 6px 1px rgba(0,0,0,0.2);box-shadow: 0 1px 6px 1px rgba(0,0,0,0.2);"><img width="70px" height="70px" src="http://www.gravatar.com/avatar/7a64ed9293c645e5857255e8f2320a8d?s=70" alt="My photo"></img></div>
	<p>My name is Truong Hong Thi. I am a software engineer at FPT Software. I live in Hanoi, Vietnam with my wife and two little daughters. In my free time, I make some <a target="_blank" href="https://play.google.com/store/apps/details?id=com.mangcut.memory">free Android games for my kids</a>.</p>
	<p>Twitter <a target="_blank" href="https://www.twitter.com/thith">@thith</a>. Google+ <a rel="me" target="_blank" href="https://www.google.com/+TruongHongThi">TruongHongThi</a>.</p>
</div>
{% if page.comment != false %}
<section>
	<div id="disqusZone">
		<br>
		<div id="disqus_thread"></div>
	</div>
</section>
{% endif %}
