<br>
<div>
<h4>Recent posts:</h4>
<ul>
{% for post in site.posts %}
	{% if post.language == "en" and page.id != post.id %}
	<li>{{ post.date | date: "%-d %b %Y" }} [{{ post.topic }}] <a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endif %}
{% endfor %}
</ul>
</div>
<br>
<div class="alert font-small" style="border:1px solid skyblue;border-left-width:5px;background-color:transparent;padding-right:10px;">
	<b><u>About the Author</u></b>
	<div class="pull-right" style="width=120px;height=120px;margin:5px 10px;padding:5px;-webkit-box-shadow: 0 1px 6px 1px rgba(0,0,0,0.2);box-shadow: 0 1px 6px 1px rgba(0,0,0,0.2);"><img id="myPhoto" width="70px" height="70px" src="http://www.gravatar.com/avatar/7a64ed9293c645e5857255e8f2320a8d?s=70" alt="My photo"></img></div>
	<p>My name is Truong Hong Thi. I am a software engineer at FPT Software. I live in Hanoi, Vietnam with my wife and two little daughters. In my free time, I make some <a target="_blank" href="https://play.google.com/store/apps/details?id=com.mangcut.memory">free Android games for my kids</a>.</p>
	<p>Contact me on <a target="_blank" href="https://www.facebook.com/thith">Facebook</a>. I rarely use <a target="_blank" href="https://www.twitter.com/thith">Twitter (@thith)</a> or <a rel="me" target="_blank" href="https://www.google.com/+TruongHongThi">Google+</a>.</p>
	<p>To get informed about new posts, follow my blog's <a target="_blank" href="https://twitter.com/mangcut_vn">Twitter (@mangcut_vn)</a> or subscribe to its <a target="_blank" href="/atom/en.xml">RSS</a>.</p>
</div>
{% if page.comment != false %}
<section>
	<div id="disqusZone">
		<br>
		<div id="disqus_thread"></div>
	</div>
</section>
{% endif %}
<script type="text/javascript">
(function() {
	var photoUrl = "http://www.gravatar.com/avatar/7a64ed9293c645e5857255e8f2320a8d?s=";
	var rate = window.devicePixelRatio || 0;
	if (rate > 1) {
		if (rate < 1.5) rate = 1.5;
		var size = (70 * rate) | 0;
		document.getElementById("myPhoto").setAttribute("src", photoUrl + size);
	}
})();
</script>
