<br>
<div class="alert font-small" style="border:1px solid skyblue;border-left-width:5px;background-color:transparent">
	<b><u>About the Author</u></b>
	<p>My name is Truong Hong Thi. I am a software engineer at FPT Software. I live in Hanoi, Vietnam with my wife and two little daughters. In my free time, I make some <a target="_blank" href="https://play.google.com/store/apps/details?id=com.mangcut.memory">free Android games for my kids</a>. Facebook <a target="_blank" href="https://www.facebook.com/thith">@thith</a>. Twitter <a target="_blank" href="https://www.twitter.com/thith">@thith</a>. Google+ <a rel="me" target="_blank" href="https://www.google.com/+TruongHongThi">TruongHongThi</a>. LinkedIn <a target="_blank" href="https://www.linkedin.com/in/thith">@thith</a></p>
</div>
{% if page.comment != false %}
<section>
	<div id="disqusZone">
		<br>
		<div id="disqus_thread"></div>
	</div>
</section>
{% endif %}
