<div id="footer">
  <div class="container-fluid text-center">
	<p class="muted">&copy; {{ 'now' | date: "%Y" }} - {% if page.about != true %}<a rel="author" href="/about.html">{{ site.author }}</a>{% else %}<a rel="me" href="https://www.google.com/+TruongHongThi">{{ site.author }}</a>{% endif %} - <a href="/atom/all.xml" title="RSS Feed" style="vertical-align:bottom"><img src="/img/rss-20.png" alt="RSS" style="vertical-align:bottom"></a><br><span style="font-size:12px">Dẫn nguồn & link tới bài gốc khi đăng lại</span>
	</p>
  </div>
</div>