<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="{{site.name}}" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta property="fb:admins" content="100000049454443" />
<meta property="og:site_name" content="{{site.name}}" />
<meta property="og:type" content="{% if page.is_post %}article{% else %}website{% endif %}" />
{% if page.is_post %}
<meta property="article:author" content="https://www.facebook.com/thith" />
<meta property="article:publisher" content="https://www.facebook.com/mangcut.vn" />
{% endif %}
<meta name="twitter:card" content="summary" />
{% if page.site_home %}
<title>{{ site.name }} - {{ page.title }}</title>
{% else %}
<title>{% if page.subtitle %}{{ page.title }} - {{ page.subtitle }}{% else %}{{ page.title }}{% endif %}</title>
{% endif %}
{% if page.fb_title %}
<meta property="og:title" content="{{ page.fb_title }}" />
{% else %}
<meta property="og:title" content="{% if page.short_title %}{{ page.short_title }}{% else %}{{ page.title }}{% endif %}" />
{% endif %}
<meta name="twitter:title" content="{% if page.short_title %}{{ page.short_title }}{% else %}{{ page.title }}{% endif %}" />
<meta name="description" content="{{page.description}}">
<meta property="og:description" content="{% if page.fb_description %}{{page.fb_description}}{% else %}{{page.description}}{% endif %}" />
<meta name="twitter:description" content="{{page.description}}" />
{% if page.external_image %}
<meta property="og:image" content="{{page.external_image}}" />
<meta name="twitter:image" content="{{page.external_image}}" />
{% endif %}
{% if page.image %}
<meta property="og:image" content="{{site.url}}{{page.image}}" />
<meta name="twitter:image" content="{{site.url}}{{page.image}}" />
{% endif %}
{% if page.url contains "blog/page" %}
{% assign canonical = "/blog/" %}
{% else %}
{% assign canonical = page.url|remove:'index.html' %}
{% endif %}
<link rel="canonical" href="{{site.url}}{{canonical}}">
<meta property="og:url" content="{{site.url}}{{canonical}}" />
<meta name="twitter:url" content="{{site.url}}{{canonical}}" />
<link href="{{site.url}}/atom/all.xml" type="application/atom+xml" rel="alternate" title="{{site.name}} - {{site.title}}">
{% if site.open_sans %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
{% endif %}
{% if page.hilight %}
<link href="/css/{{site.syntax.css}}.css" rel="stylesheet">
{% endif %}
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/poem.css" rel="stylesheet">
<link rel='icon' href='/img/favicon.png' type='/image/png' />
<!--[if IE 6]>
	<link href="css/ie6.css" rel="stylesheet">
<![endif]-->
<script src="/js/modernizr.js"></script>
