<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width" />
<meta name="format-detection" content="telephone=no" />
{% if page.mobile_app %}
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="{% if page.mobile_app_title %}{{page.mobile_app_title}}{% else %}{{site.name}}{% endif %}" />
<meta name="apple-mobile-web-app-status-bar-style" content="#a02c2c" />
{% endif %}
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#a02c2c">
{% if page.site_root %}
{% endif %}
<meta property="fb:admins" content="100000049454443" />
<meta property="og:site_name" content="{{site.name}}" />
<meta property="og:type" content="{% if page.is_post %}article{% else %}website{% endif %}" />
{% if page.is_post %}
<meta property="article:author" content="https://www.facebook.com/thith" />
<meta property="article:publisher" content="https://www.facebook.com/mangcut.vn" />
{% endif %}
<meta name="twitter:card" content="summary" />
{% if page.site_home %}
<title>{{ site.name }} - {{ page.page_title }}</title>
<meta name="twitter:title" content="{{ site.name }} - {{ page.title }}" />
{% else %}
<title>{{ page.page_title }}</title>
<meta name="twitter:title" content="{{ page.title }}" />
{% endif %}
{% if page.fb_title %}
<meta property="og:title" content="{{ page.fb_title }}" />
{% endif %}
<meta name="description" content="{{page.description}}">
<meta name="twitter:description" content="{% if page.subtitle %}{{page.description}}{% else %}{{page.description}}{% endif %}" />
{% if page.fb_description %}
<meta property="og:description" content="{{page.fb_description}}" />
{% endif %}
{% if page.external_image %}
<meta property="og:image" content="{{page.external_image}}" />
<meta name="twitter:image" content="{{page.external_image}}" />
{% endif %}
{% if page.image %}
<meta property="og:image" content="{{site.url}}{% if page.fb_image %}{{page.fb_image}}{% else %}{{page.image}}{% endif %}" />
<meta name="twitter:image" content="{{site.url}}{{page.image}}" />
{% endif %}
{% if page.url contains "blog/page" %}
{% assign canonical = "/blog/" %}
{% else %}
{% assign canonical = page.url|remove:'index.html' %}
{% endif %}
<link rel="canonical" href="{{site.url}}{{canonical}}">
<meta property="og:url" content="{{site.url}}{{canonical}}" />
<meta name="twitter:url" content="{{site.url}}{{canonical}}" />
<link href="{{site.url}}/atom/all.xml" type="application/atom+xml" rel="alternate" title="{{site.name}} - {{site.title}}">
{% if site.open_sans %}
<!--link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,vietnamese' rel='stylesheet' type='text/css'-->
{% endif %}
{% if page.hilight %}
<link href="/css/{{site.syntax.css}}.css" rel="stylesheet">
{% endif %}
<link href="/css/poem.css" rel="stylesheet">
<script src="/js/modernizr.js"></script>
