<div class="navbar navbar-top navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
		  <a class="brand" href="/" title="{{ site.name }}"><img src="/img/mangcut.png" alt="{{ site.name }}"></a>
		  <div class="hidden-phone-v">
			<ul class="nav" role="navigation" class="hidden-phone-v">
				<li{% if page.categories == 'blog' %} class="active"{% endif %}><a href="/">Bài viết</a></li>
				<li{% if page.categories == 'work' %} class="active"{% endif %}><a href="/work.html">Sản phẩm<span class="badge badge-important">1</span></a></li>
				<li{% if page.categories == 'about' %} class="active"{% endif %}><a href="/about.html">Giới thiệu</a></li>
			</ul>
		   </div>
		   <div class="hide visible-phone-v">
		   <ul class="nav" role="navigation">
				<li class="dropdown">
					<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
					  <li><a href="/">Bài viết</a></li>
					  <li><a href="/work.html">Sản phẩm</a></li>
					  <li><a href="/about.html">Giới thiệu</a></li>
					 </ul>
				</li>
			</ul>
		  </div>
		  <a id="showSitemap" href="#" title="Hiển thị danh sách bài viết" class="navbar-button pull-right" data-action="toggleClass" data-target="#sitemap" data-options=" sitemap-show" data-advanced=":overlay"><img src="/img/list.png" alt="..."></a>
		</div>
	</div>
</div>