<meta charset="utf-8" />
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta property="fb:admins" content="100000049454443" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<title>{{page.title}}</title>
<meta property="og:title" content="{{page.title}}" />
<meta name="twitter:title" content="{{page.title}}" />
<meta name="description" content="{{page.description}}">
<meta name="og:description" content="{{page.description}}" />
<meta name="twitter:description" content="{{page.description}}" />
{% if page.image %}
<meta property="og:image" content="{{site.url}}{{page.image}}" />
<meta name="twitter:image" content="{{site.url}}{{page.image}}" />
{% endif %}
{% if page.site_home %}
{% if page.language == "en" %}
<link rel="canonical" href="{{site.url}}/en/"/>
<meta property="og:url" content="{{site.url}}/en/" />
<meta name="twitter:url" content="{{site.url}}/en/" />
{% else %}
<link rel="canonical" href="{{site.url}}"/>
<meta property="og:url" content="{{site.url}}" />
<meta name="twitter:url" content="{{site.url}}" />
{% endif %}
{% else %}
<link rel="canonical" href="{{site.url}}{{page.url}}"/>
<meta property="og:url" content="{{site.url}}{{page.url}}" />
<meta name="twitter:url" content="{{site.url}}{{page.url}}" />
{% endif %}
<link href="{{site.url}}/atom/all.xml" type="application/atom+xml" rel="alternate" title="Măng cụt - Thiền và công việc lập trình">
{% if site.open_sans %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
{% endif %}
{% if page.hilight %}
<link href="/css/{{site.syntax.css}}.css" rel="stylesheet">
{% endif %}
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/poem.css" rel="stylesheet">
<link rel='icon' href='/img/favicon.png' type='/image/png' />
<!--[if IE 6]>
	<link href="css/ie6.css" rel="stylesheet">
<![endif]-->
<script src="/js/modernizr.js"></script>
