<!--div class="welcome over-margin">chào bạn - đây là trang blog măng cụt</div-->
<div class="over-margin over-padding" style="padding-top:10px;padding-bottom:10px;border-bottom:1px dashed #a02c2c;margin-bottom:16px;background-color:cornsilk">
<figure>
	  <div class="img-container">
		<img class="img-post-cover" src="/media/new_year.svg"></img>
	  </div>
</figure>
<p>Năm 2015 của bạn thế nào?</p>
<p>2015 là một năm tuyệt vời đối với <b style="color:#a02c2c">Blog Măng Cụt</b>. Chúng tôi không viết nhiều, nhưng mỗi bài viết đều rất tâm huyết. Hãy cùng nhìn lại những bài viết nổi bật và nhiều lượt xem nhất năm qua!</p>
<p><span class="bold">Chia sẻ nhiều nhất:</span></span><br><a href="/con-nguoi.html">Con người: Nhìn từ cấu trúc bộ não</a></p>
<p><span class="bold">Lượt xem nhiều nhất:</span><br><a href="/blog/2015-03-23-bao-gio-loai-nguoi-diet-vong.html">Bao giờ loài người diệt vong?</a></p>
<p><span class="bold">Lượt xem nhiều nhất trong 1 ngày:</span><br><a href="/blog/2015-03-09-di-tim-nguoi-ngoai-hanh-tinh.html">Người ngoài hành tinh ở đâu?</a></p>
<p>Chúc bạn một năm 2016 như ý, và đừng quên ghé Blog Măng Cụt thường xuyên :)</p>
</div>

{% for post in site.posts limit:10 %}
<article {% if forloop.first %}class="first-child"{% endif %}>
	{% if post.language == "en" %}
	  {% assign mc_readspead = 276 %}
	{% else %}
	  {% assign mc_readspead = 351 %}
	{% endif %}
	<p class="index-byline font-small muted">{% if post.feel %}<span class="tag tag-{{post.feel}}" title="{{post.feel_text}}">{{post.feel_text}}</span> - {% endif %}dài {{ post.content | strip_html | number_of_words | divided_by:mc_readspead | plus:1}} phút</p>
	<h2 class="index-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
	{% if post.image %}
	<figure>
	  {% if forloop.index0 < 2 %}
	  <div class="img-container" {% if post.image_origin %}data-origin="{{post.image_origin}}"{% endif %}{% if post.image_back %} style="background-color:{{post.image_back}}"{% endif %}>
		<a href="{{ post.url }}"><img class="img-post-cover{% if post.image_align %} auto-{{post.image_align}}{% endif %}" src="{{ post.image }}" {% if post.image_alt %}alt="{{ post.image_alt }}"{% endif %}></img></a>
	  </div>
	  {% else %}
	  <div class="img-container" {% if post.image_origin %}data-origin="{{post.image_origin}}"{% endif %}{% if post.image_back %} style="background-color:{{post.image_back}}"{% endif %}>
		<a class="swap-photo" href="{{ post.url }}" data-src="{{post.image}}"{% if post.image_alt %} data-alt="{{if post.image_alt}}"{% endif %} data-class="img-post-cover{% if post.image_align %} auto-{{post.image_align}}{% endif %}"><noscript><img class="img-post-cover{% if post.image_align %} auto-{{post.image_align}}{% endif %}" src="{{ post.image }}" {% if post.image_alt %}alt="{{ post.image_alt }}"{% endif %}></img></noscript></a>
	  </div>
	  {% endif %}
	  {% if post.image_caption %}
	  <figcaption>{{ post.image_caption }}</figcaption>
	  {% endif %}
	</figure>
	{% endif %}
	<p>{{ post.excerpt }}</p>
	<a href='{{ post.url }}'>[Đọc bài...]</a>
</article>
{% endfor %}

<div class="spacy-line"></div>
<h3>Bài cũ hơn</h3>
<ul>
{% for post in site.posts offset:10 %}
<li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
