<!--div class="welcome over-margin">chào bạn - đây là trang blog măng cụt</div-->
<div class="over-margin" style="background-color:#ffc766;background-image:url('/img/food.png')">
<div class="over-padding"  style="background-color:rgba(255,255,255,0.4);padding-top:20px;padding-bottom:10px;border-bottom:1px dashed #a02c2c;margin-bottom:16px;text-align:left;">
<!--figure>
	  <div class="img-container">
		<img class="img-post-cover" src="/media/new_year.svg"></img>
	  </div>
</figure-->
<p style="white-space: nowrap;margin-bottom:20px">Bạn đang ghé thăm <wbr>Blog Măng Cụt&nbsp;&nbsp;<span style="white-space:nowrap"><a title="Bài nổi bật" href="#" data-action="slideToggle" data-target=".featured"><img src="/img/featured.png"></img></a><sub data-action="slideToggle" data-target=".featured"> <span class="font-xxlarge">&larr;</span> click</sub></span></p>

<div class="featured over-margin over-padding">

<div>
<p><span class="upper font-xsmall">Chia sẻ nhiều nhất:</span></span><br><a href="/con-nguoi.html">Con & Người: Nhìn từ cấu trúc bộ não</a></p>
<p><span class="upper font-xsmall">Lượt xem nhiều nhất:</span><br><a href="/blog/2015-03-23-bao-gio-loai-nguoi-diet-vong.html">Bao giờ loài người diệt vong?</a></p>
<p><span class="upper font-xsmall">Lượt xem nhiều nhất trong 1 ngày:</span><br><a href="/blog/2015-03-09-di-tim-nguoi-ngoai-hanh-tinh.html">Người ngoài hành tinh ở đâu?</a></p>
</div>

<div>
<span class="upper font-xsmall">Các loạt bài:</span><br>
  <ul class="cloud-tags">
    <li><a href="/blog/world/" title="Loạt bài">Thế giới như tôi hình dung<span>7</span></a></li>
	<li><a href="/4-buc-anh/" title="Loạt bài">Những bức ảnh thay đổi thế giới<span>4</span></a></li>
    <!--{% include tag.html list=site.categories.linhtinh url="/linhtinh/" text="Chuyện linh tinh" tooltip="Loạt ghi chép ngắn" %}-->
</ul>
<!--ul class="cloud-tags">
    <li><a href="#">Được tác giả đề xuất <span>2</span></a></li>
    <li><a href="#">Xem nhiều <span>6</span></a></li>
</ul>
  <ul class="cloud-tags">
    <li><a href="#">Bộ não <span>2</span></a></li>
    <li><a href="#">Công nghệ <span>3</span></a></li>
    <li><a href="#">Văn thơ <span>2</span></a></li>
    <li><a href="#">Lập trình <span>2</span></a></li>
  </ul-->
</div>
</div> <!-- featured -->

<div style="margin-bottom:15px;margin-top:20px"><span class="font-xsmall">Thích Blog Măng Cụt?</span><br><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | cgi_escape }}{{ page.url|remove:'index.html' | cgi_escape }}" class="btn-share" title="Chia sẻ bài này lên Facebook"><img alt="" src="/img/fb2.svg" style="margin-right:8px">Chia sẻ</a> <sub><span class="font-xxlarge">&larr;</span> click</sub></div>

</div>
</div>

{% for post in site.categories.blog limit:10 %}
<article {% if forloop.first %}class="first-child"{% endif %}>
	{% if post.language == "en" %}
	  {% assign mc_readspead = 276 %}
	{% else %}
	  {% assign mc_readspead = 351 %}
	{% endif %}
	<p class="index-byline font-small muted">{% if post.feel %}<span class="tag tag-{{post.feel}}" title="{{post.feel_text}}">{{post.feel_text}}</span> - {% endif %}dài {{ post.content | strip_html | number_of_words | divided_by:mc_readspead | plus:1}} phút</p>
	<h2 class="index-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
	{% if post.image %}
	<figure>
	  {% if forloop.index0 < 2 %}
	  <div class="img-container" {% if post.image_origin %}data-origin="{{post.image_origin}}"{% endif %}{% if post.image_back %} style="background-color:{{post.image_back}}"{% endif %}>
		<a href="{{ post.url }}"><img class="img-post-cover{% if post.image_align %} auto-{{post.image_align}}{% endif %}" src="{{ post.image }}" {% if post.image_alt %}alt="{{ post.image_alt }}"{% endif %}></img></a>
	  </div>
	  {% else %}
	  <div class="img-container" {% if post.image_origin %}data-origin="{{post.image_origin}}"{% endif %}{% if post.image_back %} style="background-color:{{post.image_back}}"{% endif %}>
		<a class="swap-photo" href="{{ post.url }}" data-src="{{post.image}}"{% if post.image_alt %} data-alt="{{if post.image_alt}}"{% endif %} data-class="img-post-cover{% if post.image_align %} auto-{{post.image_align}}{% endif %}"><noscript><img class="img-post-cover{% if post.image_align %} auto-{{post.image_align}}{% endif %}" src="{{ post.image }}" {% if post.image_alt %}alt="{{ post.image_alt }}"{% endif %}></img></noscript></a>
	  </div>
	  {% endif %}
	  {% if post.image_caption %}
	  <figcaption>{{ post.image_caption }}</figcaption>
	  {% endif %}
	</figure>
	{% endif %}
	<p>{{ post.excerpt }}</p>
	<a href='{{ post.url }}'>[Đọc bài...]</a>
</article>
{% endfor %}

<div class="spacy-line"></div>
<h3>Bài cũ hơn</h3>
<ul>
{% for post in site.categories.blog offset:10 %}
<li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
