<div id="enPageAsk" class="hide"><br><p class="alert alert-info font-xxsmall" style="margin-bottom:-10px;">Read English only? <a href="/en/"><u>View English page</a></u>.</p></div>

<div><br><p class="alert alert-success">Bài mới: {% for post in site.posts limit:1 %}<a href="{{post.url}}">{{(post.title}}</a>.{% endfor %}</p></div>

<div class="example-frame" style="border:1px dashed #aaa;padding:10px;margin-top:20px;margin-bottom:20px;">
<span class="topic topic-lang">Nổi bật</span><br><br>
<div><a href="/blog/world/" title="Loạt bài: Thế giới như tôi hình dung"><img  style="max-width:100%" src="/img/world.jpg" alt="Loạt bài: Thế giới như tôi hình dung"></a></div>
<br>
<p>Chúng ta là ai, từ đâu tới, và sẽ đi về đâu? Những gì đang chờ đợi chúng ta trong 100 năm tới (gợi ý: rất nhiều bước ngoặt!). <a href="/blog/world/" title="Loạt bài: Thế giới như tôi hình dung">Xem tiếp...</a></p>
</div>

{% for post in site.posts limit:10 %}
<article {% if forloop.first %}class="first-child"{% endif %}>
	{% if post.language == "en" %}
	<span class="topic topic-lang">Tiếng Anh</span>
	<span class="topic">{{ post.vn_topic }}</span>
	{% else %}
	<span class="topic">{{ post.topic }}</span>
	{% endif %}
	{% if post.series_name %}
	<h4 class="index-title">Loạt bài: {{ post.series_name }}</h4>
	{% endif %}
	<h2 class="index-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
	{% if post.language == "en" %}
	  {% assign mc_readspead = 276 %}
	{% else %}
	  {% assign mc_readspead = 351 %}
	{% endif %}
	<p class="font-small muted">{{ post.date | date: "%-d/%-m/%Y" }} - <a href="/about.html">{% if post.author %}{{ post.author }}{% else %}Trương Hồng Thi{% endif %}</a> - dài {{ post.content | strip_html | number_of_words | divided_by:mc_readspead | plus:1}} phút</p>
	{% if post.image %}
	<figure>
	  <div class="img-container" {% if post.image_origin %}data-origin="{{post.image_origin}}"{% endif %}{% if post.image_back %} style="background-color:{{post.image_back}}"{% endif %}>
		<a href="{{ post.url }}"><img class="img-post-cover{% if post.image_align %} auto-{{post.image_align}}{% endif %}" src="{{ post.image }}" {% if post.image_caption %}alt="{{ post.image_caption }}" title="{{ post.image_caption }}"{% endif %}></img></a>
	  </div>
	  {% if post.image_caption %}
	  <figcaption>{{ post.image_caption }}</figcaption>
	  {% endif %}
	</figure>
	{% endif %}
	<p>{{ post.excerpt }}</p>
	<a href='{{ post.url }}'>[Đọc bài...]</a>
</article>
{% endfor %}

<div class="spacy-line"></div>
<h3>Bài cũ hơn</h3>
<ul>
{% for post in site.posts offset:10 %}
<li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
<script type="text/javascript">
(function() {
	function ok(txt) {
		return (txt && txt.indexOf("vi") >= 0);
	}
	function okAny(arr) {
		if (!arr || !arr.length) return false;
		for (var i = 0; i < arr.length; i ++) {
			if (ok(arr[i])) return true;
		}
		return false;
	}
	
	var hasVI = ok(navigator.userLanguage) || ok(navigator.language) || okAny(navigator.languages);
	
	!hasVI && document.getElementById("enPageAsk").removeAttribute("class");
	
})();
</script>