<figure>
<div{% if include.orgin %} data-origin="{{include.orgin}}"{% endif %}>{% capture cache %}
{% if include.svg %}
{% assign mc_i_svg = include.svg %}
{% else %}
{% capture mc_i_svg %}
<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 {{include.width}} {{include.height}}'>
<defs>
<symbol id='a' viewBox='0 0 90 66' opacity='0.3'><path d='M85 5v56H5V5h80m5-5H0v66h90V0z'/><circle cx='20' cy='18' r='6'><animateMotion path='M0 0h-5h25Z' dur='1s' repeatCount='indefinite'></animateMotion></circle><path d='M56 14L37 39l-8-6-17 23h67z'/>
</symbol>
</defs>
<use xlink:href='#a' width='10%' x='45%'/>
</svg>
{% endcapture %}
{% endif %}
{% assign mc_i_sanity_svg = mc_i_svg | strip_newlines | replace:'<','%3C' | replace:'>','%3E' | replace:'#','%23' %}
{% endcapture %}{% assign cache = nill %}
<img id="leadImage" src="data:image/svg+xml;charset=utf-8, {{mc_i_sanity_svg}}" width="{{include.width}}" data-src="{% if page.lead_image %}{{page.lead_image}}{% else %}{{page.image}}{% endif %}" alt="{{include.alt}}"{% if include.background_color %} style="background-color:{{include.background_color}}"{% endif %}>
<noscript><img src="{% if page.lead_image %}{{page.lead_image}}{% else %}{{page.image}}{% endif %}" alt="{{include.alt}}"></noscript>
</div>
{% if include.caption %}<figcaption>{{include.caption}}</figcaption>{% endif %}
</figure>