<section>
	<div class="spacy-line"></div>
	<p><a href="/" data-action='trigger' data-target="#showSitemap" data-options="click" title="Hiển thị danh sách bài viết khác"><i class="icon icon-list"></i> Các bài khác</a></p>
	{% if page.comment != false %}
	<p><a href="#" name="comment_disqus" data-action='[{"action": "show", "target": "#disqusZone"}, {"action": "$(this).hide"}, {"action": "scrollBy", "options": [0, 250]}]' title="Hiển thị ô để đọc và viết bình luận"><i class="icon icon-comment"></i> Viết bình luận (Disqus)</a></p>
	<div id="disqusZone" class="hide">
		<div class="spacy-line"></div>
		<div class="alert font-small">
			Hệ thống bình luận của <a target="_blank" href="https://disqus.com">Disqus</a> đôi khi bị chặn ở Việt Nam. Chúng tôi xin lỗi nếu bình luận ko hiển thị được.
		</div>
		<div id="disqus_thread"></div>
	</div>
	{% endif %}
</section>
