{% if page.comment != false %}
<section>
	<div class="spacy-line"></div>
	<p><a href="#" data-action='trigger' data-target="#showSitemap" data-options="click" title="Hiển thị danh sách bài viết khác"><i class="icon icon-list"></i> Các bài khác</a></p>
	<p><a href="#" data-action='[{"action": "show", "target": "#disqusZone"}, {"action": "$(this).hide"}, {"action": "scrollBy", "options": [0, 250]}]' title="Hiển thị ô để đọc và viết bình luận"><i class="icon icon-comment"></i> Viết bình luận</a></p>
	<div id="disqusZone" class="hide">
		<div class="spacy-line"></div>
		<div class="alert font-small"><b>Lưu ý:</b>
			Tôi sử dụng hệ thống bình luận của <a target="_blank" href="http://disqus.com">Disqus</a>. Tại thời điểm cuối tháng 3/2015 thì hệ thống này bị chặn ở Việt Nam nên có thể bạn ko xem và viết bình luận được.
		</div>
		<div id="disqus_thread"></div>
	</div>
</section>
{% endif %}
