<aside class="share-hint">
Thấy hay?
<iframe width="120px" height="20px" src="//upload.facebook.com/plugins/like.php?href={{ site.url | cgi_escape }}{{ page.url|remove:'index.html' | cgi_escape }}&amp;locale=vi_VN&amp;send=false&amp;layout=button&amp;width=120&amp;show_faces=true&amp;share=true&amp;colorscheme=light&amp;{% if site.facebook_action %}action={{site.facebook_action}}&amp;{% endif %}height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:20px;margin-top:10px;" allowTransparency="true"></iframe>
</aside>