<section>
{% if page.is_page %}
<div class="spacy-line"></div>
{% endif %}
<p class="font-xsmall" style="margin-bottom:4px">
{% if page.share_text %}{{page.share_text}}{% else %}Nếu bạn thấy hay, hãy chia sẻ. Điều đó động viên tôi viết tiếp.{% endif %}</p>
<p><a target="blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | cgi_escape }}{{ page.url|remove:'index.html' | cgi_escape }}" class="btn-share" title="Chia sẻ bài này lên Facebook"><img alt="" src="/img/fb2.svg" style="margin-right:8px">Chia sẻ</a></p>
</section>