<section>
<p class="muted" style="margin-top:4px">THÔNG BÁO KHI CÓ BÀI MỚI</p>
<div style="margin-bottom:10px">
<!-- Begin MailChimp Signup Form -->
<form action="/email/subscribe.html" method="get" target="_blank">
	<input type="email" value="" name="e" placeholder="Nhập Email" required>
	<input type="submit" value="ĐĂNG KÍ" class="button">
</form>
<!--End mc_embed_signup-->
</div>
<div>
<span class="muted font-xsmall">THEO DÕI</span>&nbsp;&nbsp;<a target="_blank" title="Đến trang Facebook của mangcut.vn" href="https://www.facebook.com/mangcut.vn"><img src="/img/fb-24.svg" alt="Facebook" style="vertical-align:bottom;width:24px;height:24px"></a>&nbsp;&nbsp;<a target="_blank" href="/atom/all.xml" title="RSS Feed" style="vertical-align:bottom"><img src="/img/rss-24.svg" alt="RSS" style="vertical-align:bottom;width:24px;height:24px"></a>
</div>
</section>