<section>
<div class="spacy-line"></div>
<h4>Theo dõi bài viết mới</h4>
<p style="margin-bottom:6px">
	<a href="/atom/all.xml" title="RSS Feed" style="vertical-align:bottom"><img src="/img/rss-20.png" alt="RSS" style="vertical-align:bottom"></a>
	<iframe height="20px" width="100px" src="//upload.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fmangcut.vn&amp;locale=vi_VN&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;share=false&amp;colorscheme=light&amp;{% if site.facebook_action %}action={{site.facebook_action}}&amp;{% endif %}height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;vertical-align:bottom" allowTransparency="true"></iframe>
</p>
<p class="muted font-xxsmall">(thích trang Facebook của Măng cụt)</p>
</section>