<div id="sitemap" class="sitemap shadow">
	<div class="sitemap-heading" data-action="trigger" data-target="#overlay" data-options="click">
		<table class="table-layout">
			<tr>
			<td class="sitemap-text heading-text bold font-xxlarge">Bài gần đây</td>
			<td align="right"><button type="button" class="close" aria-hidden="true">&times;</button></td>
			</tr>
		</table>
	</div>
	<div id="sitemapContent" class="sitemap-content">
		<ul class="nav nav-list">
			{% for post in site.posts %}
			  <li {% if page.url == post.url %} class="active"<{% endif %}><div class="muted">{{ post.date | date: "%d/%m" }} - {{ post.topic }}</div><a href="{{ post.url }}">{{ post.title }}</a></li>
			  {% unless forloop.last %}
			    <li class="divider"></li>
			  {% endunless %}
			{% endfor %}
			{% include share_home.html %}
		</ul>
	</div>
</div>