<div id="sitemap" class="sitemap shadow">
	<div class="sitemap-heading" data-action="trigger" data-target="#overlay" data-options="click">
		BÀI GẦN ĐÂY
		<button type="button" class="close" aria-hidden="true" style="font-size:36px;line-height:38px;">&times;</button>
	</div>
	<div id="sitemapContent" class="sitemap-content">
		<ul class="nav nav-list">
			{% for post in site.posts %}
			  <li style="border-bottom: 1px solid #dde" {% if page.url == post.url %} class="active"{% endif %}><a href="{{ post.url }}">{{ post.title }}&nbsp;<span class="tag tag-{{post.feel}}" title="{{post.feel_text}}">{{post.feel_text}}</span></a></li>
			{% endfor %}
		</ul>
	</div>
</div>