* {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

html{
	height:100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	color: #333;
	background-color: #FFF;
}

table {
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
}

table td {
	vertical-align: middle;
	text-align: center;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}

#topbar {
	border: 0;
	background-color: HSLA(105, 75%, 85%, 0.8);
	font-size: 1.2em;
	font-family: monospace;
	overflow: hidden;
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
}

#score, #highScore {
	font-size: 1.5em;
	vertical-align: middle;
}

#showMenu {
	font-family: sans-serif;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.app-icon {
	padding: 7px 15px;
	background-color: HSL(105, 75%, 70%);
	color: HSL(105, 75%, 20%);
	cursor: pointer;
	font-size: 1em;
	font-weight: 300;
}

.app-icon.active {
	background-color: HSL(105, 75%, 30%);
	color: white;
	cursor: default;
}

.app-title {
	font-weight: bold;
	padding: 7px 10px 7px 20px;
}

.app-info {
	padding: 7px 10px;
	font-size: 85%;
}

#playGround, .play-ground {
	margin: 0 auto;
}

#playGround span, .play-ground span {
	display: inline-block;
	margin: 0;
	padding: 0;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid transparent;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	cursor: pointer;
	/*
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	-webkit-transition-property: background-color, background-image;
	-moz-transition-property: background-color, background-image;
	-o-transition-property: background-color, background-image;
	transition-property: background-color, background-image;
	*/
	
	/*color: rgba(0,0,0,0);*/
	text-align: center;
	font-weight: bold;
	font-family: serif;
	vertical-align: middle;
	
	/*background-image: url('../mode/default/img/cardback.png');*/
	background-repeat:no-repeat;
	background-position:center;
	
	opacity: 0.6;
}

#playGround span.open {
	cursor: default;
	opacity: 1;
	color: white;
	-webkit-animation-name: swing;
	-moz-animation-name: swing;
	-o-animation-name: swing;
	animation-name: swing;
}

#playGround.mode-image span.open {
	background-color: rgba(0,0,0,0.2);
}

#playGround.mode-image span.expecting {
/*
	-webkit-animation-iteration-count: infinite;-moz-animation-iteration-count: infinite;-ms-animation-iteration-count: infinite;-o-animation-iteration-count: infinite;animation-iteration-count: infinite;
	animation-direction:alternate;
	-webkit-animation-direction:alternate;
	*/
}

#playGround.mode-image span.fixed {
	background-color: transparent;
	/*
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	-o-transition-property: background-color;
	transition-property: background-color;
	
	background-color: rgba(73,155,234,0.6);
	background-image: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1)));
	background-image: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%);
	background-image: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%);
	background-image: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%);
	background-image: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%);
	*/
	-webkit-animation: flash 0.4s;
	-moz-animation: flash 0.4s;
	-o-animation: flash 0.4s;
	animation: flash 0.4s;
	-webkit-animation-fill-mode:none;-moz-animation-fill-mode:none;-ms-animation-fill-mode:none;-o-animation-fill-mode:none;animation-fill-mode:none;
}


#playGround span.open.stretch-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#bottomPart {
}

.bottom-buttons {
	margin-top: 2em;
	margin-bottom: 10px;
}

.btn {
	background-color: HSL(105, 75%, 40%);
	color: #fff;
	cursor: pointer;
	padding: 3px 10px;
	display: block;
	width: 100px;
	margin: 0 auto;
	font-size: 0.9em;
	font-weight: 300;
	text-align: center;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

.btn-modest {
	background-color: transparent;
	color: #333;
}

.btn-purple {
	background-color: HSL(280, 75%, 40%);
}

.btn-cyan {
	background-color: HSL(180, 75%, 40%);
}

.button-row .btn {
	margin-bottom: 10px;
}

.button-row-large .btn {
	margin-bottom: 20px;
	padding: 5px 15px;
	font-size: 1em;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#main {
	background-image: url('../mode/default/img/groundback.png');
}

#settings {
	/*
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
	/*border-radius: 8px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);*/
}

#settings .page-content {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.page-header {
	margin: 0 -20px;
	clear: both;
	background-color: HSL(105, 75%, 85%);
	overflow: hidden;
	text-align: left;
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
}

.section {
	margin-top: 20px;
}

.section-heading {
	font-weight: 300;
	font-size: 0.8em;
	margin-bottom: 4px;
	text-align: left;
}

table.tile-menu {
	width: 100%;
}

table.tile-menu td {
	border: 3px solid white;
	cursor: pointer;
	font-size: 0.8em;
	font-weight: 300;
	background-color: #ccc;
	color: #333;
	width: 50%;
}

table.four-col td {
	width: 25%;
}

table.three-col td {
	width: 33.3333333333%;
}

table.tile-menu td.active {
	background-color: hsl(210, 75%, 50%);
	color: white;
}
	
table.tile-menu td.active.radio {
	cursor: default;
}

table.tile-menu td.disabled {
	background-color: #c8c8c8;
	color: #999999;
	cursor: default;
}

table.tile-menu tr {
	height: 2.4em;
}

.tile-arrow {
	width:0;
	height:0;
	margin-left: 10px;
	border-top-width: 0;
	border-left-color: transparent;
	border-left-width: 10px;
	border-left-style: solid;
	border-right-color: transparent;
	border-right-width: 10px;
	border-right-style: solid;
	border-bottom-color: #fff;
	border-bottom-width: 7px;
	border-bottom-style: solid;
}

.theme-sample {
	padding: 5px 3px 0 0;
	overflow: hidden;
}

.theme-sample:after {
	display: table;
	content: "";
	line-height: 0;
	clear: both;
}

.theme-sample span {
	width: 70px;
	height: 70px;
	margin: 0 1px;
	border: 0;
	line-height: 70px;
	font-size: 35px;
	
	cursor: default;
	
	color: white;
	background-repeat:no-repeat;
	background-position:center;
/*
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
*/	
	opacity: 1;

	float: right;
}

.theme-sample .theme-0-0 {background-color: hotpink;background-image: none}
.theme-sample .theme-0-1 {background-color: limegreen;background-image: none}

.theme-sample .theme-1-0 {background-color: hotpink;background-image: none}
.theme-sample .theme-1-1 {background-color: limegreen;background-image: none}

.theme-sample .theme-2-0 {background-color: hotpink;background-image: none}
.theme-sample .theme-2-1 {background-color: limegreen;background-image: none}

.theme-sample .theme-3-0 {background-color: HSL(105,15%,70%);background-image: url('../mode/fruit/img/12.png');}
.theme-sample .theme-3-1 {background-color: HSL(105,15%,70%);background-image: url('../mode/fruit/img/10.png');}

.theme-sample .theme-4-0 {background-color: HSL(330,15%,70%);background-image: url('../mode/monster/img/1.png');}
.theme-sample .theme-4-1 {background-color: HSL(330,15%,70%);background-image: url('../mode/monster/img/3.png');}

.theme-sample .theme-5-0 {background-color: HSL(220,15%,70%);background-image: url('../mode/moon/img/17.png');}
.theme-sample .theme-5-1 {background-color: HSL(220,15%,70%);background-image: url('../mode/moon/img/6.png');}

.page {
	width: 100%;
	height: 100%;
}

#logo {
	height: 60%;
	background-repeat:no-repeat;
	background-position:center 30%;
	background-image: url('../img/apple_icon.png');
}

#status {
	height: 20%;
}

#progress {
	height: 15px;
	width: 200px;
	background-color: #333;
	margin: 0 auto;
}

#indicator {
	width: 0;
	height: 100%;
	background-color: limegreen;
}

#mangcut {
	height: 20%;
	background-repeat:no-repeat;
	background-position:center 70%;
	background-image: url('../img/mangcut.png');
}

.hide {
	display: none;
}

.vertical-center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.onoffswitch {
    position: relative; width: 72px;
    vertical-align: middle;
	/*display: inline-block;*/
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 14px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; 
	height: 24px; 
	padding: 0; 
	line-height: 26px;
    font-size: 12px;
	color: white; 
	font-weight: normal;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "BẬT";
    padding-left: 10px;
    background-color: #207FDF; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "TẮT";
    padding-right: 10px;
    background-color: #CCCCCC; color: #333333;
    text-align: right;
}

.onoffswitch-switch {
    width: 12px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; border-radius: 14px;
    position: absolute; top: 0; bottom: 0; right: 44px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}