* {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

html{
	height:100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	color: HSL(105,75%,20%);
	background-color: #333;
}

table {
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
}

table td {
	vertical-align: middle;
	text-align: center;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}

#topbar {
	border: 0;
	background-color: HSL(105, 75%, 85%);
	font-size: 16px;
	height: 35px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.app-icon {
	padding: 5px 15px;
	background-color: HSL(105, 75%, 70%);
	color: HSL(105, 75%, 20%);
	cursor: pointer;
	font-size: 1em;
	font-weight: 300;
}

.app-icon.active {
	background-color: HSL(105, 75%, 30%);
	color: white;
	cursor: default;
}

.app-title {
	font-weight: bold;
	padding: 5px 10px;
}

.app-info {
	background-color: HSL(105, 75%, 80%);
	padding: 5px 10px;
	font-size: 85%;
}

#playGround {
	margin: 0 auto;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
}

#playGround .row {
	display: table-row;
}

#playGround .row div {
	display: table-cell;
	margin: 0;
	padding: 0;
	/*background-color: gray;*/
	border: 2px solid #333;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	cursor: pointer;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	-webkit-transition-property: background-color, background-image;
	-moz-transition-property: background-color, background-image;
	-o-transition-property: background-color, background-image;
	transition-property: background-color, background-image;
	
	/*color: rgba(0,0,0,0);*/
	text-align: center;
	font-weight: bold;
	font-family: serif;
	vertical-align: middle;
}

#playGround .row div.open {
	cursor: default;
	
	color: white;
	background-repeat:no-repeat;
	background-position:center;
}

#playGround .row div.open.stretch-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#bottomPart {
}

.bottom-buttons {
	margin-top: 50px;
}


.btn {
	background-color: HSL(105, 75%, 40%);
	color: HSL(105, 75%, 100%);
	cursor: pointer;
	padding: 5px 10px;
	display: block;
	width: 100px;
	margin: 0 auto;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
}

#main {
	display: none;
}

#settings {
	background-color: white;
	position: fixed;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	top: 0;
	left: 0;
	display: none;
	z-index: 9999;
	padding: 0 20px;
	/*border-radius: 8px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);*/
}

.page-header {
	margin: 5px -20px 20px;
	clear: both;
	background-color: HSL(105, 75%, 85%);;
	overflow: hidden;
	text-align: left;
	padding-left: 10px;
}

.section {
	margin-bottom: 20px;
}

.section-heading {
	font-weight: 300;
	font-size: 0.8em;
	margin-bottom: 4px;
	text-align: left;
}

table.tile-menu {
	width: 100%;
}

table.tile-menu td {
	border: 1px solid #888;
	cursor: pointer;
	font-size: 0.8em;
	font-weight: 300;
	background-color: #ddd;
	color: #333;
	width: 50%;
}

table.four-col td {
	width: 25%;
}

table.three-col td {
	width: 33.3333333333%;
}

table.tile-menu td.active {
	background-color: #aaa;
}

table.tile-menu td.active.radio {
	cursor: default;
}

table.tile-menu td.disabled {
	background-color: #c8c8c8;
	color: #999999;
	cursor: default;
}

table.tile-menu tr {
	height: 2em;
}

table.tile-menu.large tr {
	height: 60px;
}

.tile-arrow {
	width:0;
	height:0;
	margin-left: 10px;
	border-top-width: 0;
	border-left-color: transparent;
	border-left-width: 10px;
	border-left-style: solid;
	border-right-color: transparent;
	border-right-width: 10px;
	border-right-style: solid;
	border-bottom-color: HSL(105, 75%, 30%);
	border-bottom-width: 7px;
	border-bottom-style: solid;
}

#splash {
	background-color: whitesmoke;
	height: 100%;
}

#logo {
	height: 60%;
	background-repeat:no-repeat;
	background-position:center 30%;
	background-image: url('../img/apple_icon.png');
}

#status {
	height: 20%;
}

#progress {
	height: 15px;
	width: 200px;
	background-color: #333;
	margin: 0 auto;
}

#indicator {
	width: 0;
	height: 100%;
	background-color: limegreen;
}

#mangcut {
	height: 20%;
	background-repeat:no-repeat;
	background-position:center 70%;
	background-image: url('../../../img/favicon.png');
}

.hide {
	display: none;
}