---
layout: default
categories: series
series_id: world
page_title: Thế giới như tôi hình dung
fb_title: Thế giới như tôi hình dung
description: Con người là ai, từ đâu tới, và sẽ đi về đâu? Những gì chúng ta nhìn thấy, nhận thức được có đúng là như vậy? Trong 100 năm tới, điều bước ngoặt gì sẽ xảy ra? Loạt bài viết này hy vọng sẽ mở ra những cánh cửa mới. Hãy chia sẻ nếu bạn thấy có ý nghĩa.
fb_description: Con người từ đâu tới và sẽ đi về đâu? Trong 100 năm tới, điều bước ngoặt gì sẽ xảy ra? Loạt bài viết này hy vọng sẽ mở ra những cánh cửa mới.
image: /media/world.jpg
---
<h4 style="margin-top: 20px">LOẠT BÀI:</h4>
<h2 style="margin-top: 0">Thế giới như tôi hình dung</h2>
<div>
	<img class="pull-right" style="width:25%;min-width:160px;margin-top: 0.5em;margin-left:6px;margin-bottom:6px;" src="/media/observe.jpg"/>
	<p class="lead">{{page.description}}</p>
	<p>
	<iframe width="200px" height="20px" src="//upload.facebook.com/plugins/like.php?href={{ site.url | cgi_escape }}{{ page.url |remove:'index.html' | cgi_escape }}&amp;locale=vi_VN&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=true&amp;share=true&amp;colorscheme=light&amp;{% if site.facebook_action %}action={{site.facebook_action}}&amp;{% endif %}height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:20px;" allowTransparency="true"></iframe>
	</p>
	<div style="clear:both"></div>
</div>
<!--
{% for post in site.posts reversed %}
 {% if post.series_id == page.series_id %}
 <div class="spacy-line"></div>
 <div>
	<h3><a href="{{ post.url }}">{{ post.series_part }}. {{ post.title }}{% if post.hot %}&nbsp;<img src="/img/hot.gif" alt="[hot]">{% endif %}{% if post.new %}&nbsp;<img src="/img/new.gif" alt="[new]">{% endif %}</a></h3>
	<p>{{ post.page_title }}</p>
</div>
 {% endif %}
{% endfor %}
-->

<p>Nhiều nhà du hành vũ trụ đã mô tả lại cảm giác khi bay ra ngoài không gian và nhìn lại trái đất: giây phút đó thật là tuyệt vời và giúp họ thay đổi hẳn nhận thức. Thế giới thật là nhỏ bé và mong manh mà con người vẫn mãi mê toan tính những chuyện nhỏ nhặt tầm thường.</p>

<p>Nếu Ga-li-lê và các thế lực ngăn cản ông ngày đó có thể bay ra không gian thì việc trái đất hình tròn trở thành quá hiển nhiên và đã không cần tranh cãi.</p>

<p>Mỗi khi chúng ta "bay" ra ngoài
