---
layout: post_header_image
permalink: /ha-trang.html
page_title: Hạ Trắng - Truyện ngắn
title: Hạ trắng
header_image_title: HẠ TRẮNG
series_name: 
subtitle: Câu chuyện này tôi vốn không định kể lại
fb_title: Hạ trắng - Truyện ngắn
feel: story
feel_text: truyện ngắn
description: Câu chuyện này tôi vốn không định kể lại
fb_description: Câu chuyện này tôi vốn không định kể lại
image: /media/white_flower.jpg
see_also1: con-nguoi.html
see_also2: blog/2015-03-09-di-tim-nguoi-ngoai-hanh-tinh.html
image_origin: pixabay.com
header_image: /media/white_flower.jpg
header_height: 240px
topic: Văn thơ
recommend: true
disqus_id: blog/con-nguoi
excerpt: Câu chuyện này tôi vốn không định kể lại.
---
<p>Tôi tên An. Năm nay hăm hai tuổi. Câu chuyện này tôi vốn không định kể lại.</p>

<p>Cách đây bốn năm tôi có yêu một người con gái. Tên là Hạ.<p>

<p>Ngày đó, cả hai chúng tôi còn học trung học. Lớp Hạ ở tầng trên, mỗi lần tan học đều phải đi qua lớp tôi. Chẳng hiểu bắt đầu thế nào mà chúng tôi lại yêu nhau. Bạn bè bảo: “Thằng này thế mà giỏi, vớ được con bé ngon vãi!”. Tôi chỉ cười.</p>

<p>Hạ đẹp và có giọng nói trong trẻo như pha lê, vui vẻ, nhiều mơ mộng. Những đêm nhiều sao, Hạ đều rủ tôi ra cầu đứng ngắm. Hạ bảo Hạ thích sao chứ không thích trăng, vì trăng khi tròn khi khuyết. Tôi thì lại bị cuốn hút bởi những khoảng tối mênh mông trên bầu trời, những khoảng sâu thăm thẳm ấy có ma lực kì lạ, tôi tin chắc thế.</p>

<p>Cuối năm thi đại học. Hạ đỗ. Tôi trượt. Hạ bảo: “An đừng buồn, học tài thi phận.”. Tôi thở dài.</p>

<p>Những ngày đầu xa nhau tôi nhớ Hạ kinh khủng. Điện thoại. Cả thư từ nữa. Hạ rất thích viết thư. Những dịp nghỉ Hạ về, chúng tôi vẫn xoắn xuýt bên nhau. Hạ như ngày càng vui vẻ và vô tư hơn, kể chuyện học hành này nọ, chuyện trên Hà Nội. Tự dưng tôi bắt đầu có cảm giác mặc cảm. Tôi không còn chủ động gặp và gọi điện nhiều như trước nữa. Hạ dường như không nhận ra điều ấy. Tôi vẫn nhận được những lá thư với những lời yêu thương nhung nhớ cùng những dự định đẹp cho tương lai.</p>

<p>Tôi lao vào học. Ngày học. Đêm học. Không hiểu vì sao tôi tin chắc mình sẽ dậu thủ khoa trong kì thi đại học tới.</p>

<p>Và tôi đã đậu, điểm rất cao, nhưng không phải thủ khoa. Người báo tin cho tôi chính là Hạ. Hạ nói: “Tên anh nằm ngay trang đầu, nhưng mãi em mới dám nhìn sang phần kết quả. Không thể tin được! Chừng nửa số điểm của anh đã đậu rồi.”. Rồi Hạ nói về chuyện học hành ở ngoài này, chuyện thuê nhà cửa và nhiều thứ chuyện nữa mà tôi không nhớ nổi. Tôi nghe và hình dung. Tôi sẽ phải thật sẵn sàng để bắt đầu một cuộc phiêu lưu mới, cuộc sống sinh viên mà theo tôi tưởng tượng là rất thú vị. Và đặc biệt, tôi sẽ không còn phải xa Hạ. Tôi có rất nhiều dự định dành cho Hạ.</p>

<p>Hoằng là tên đứa bạn thuê chung phòng với tôi, sống ngăn nắp và rất kỉ luật. Hoằng khá đẹp trai, trừ một việc. Hoằng bị chột một mắt. Con mắt chột trông nhăn nheo và xấu xí như một con gián chết. Rất nhiều lần tôi định hỏi Hoằng về con mắt ấy nhưng lại thôi. Tôi thường nhìn trộm con mắt chột và đều bắt gặp con mắt kia long lanh nhìn lại. Dường như khi người ta chỉ có một mắt thì con mắt ấy trở nên sáng lạ kì. Hoằng nhận xét về Hạ: “Con bé đẹp nhưng có ánh mắt vô định. Mày mà yêu nó sẽ suốt đời bất an.”. Tôi không tin. Tôi cười: “Chính mày mới hãm tao. Mày là khắc tinh của tao.”. Nó quay đi và lẩm bẩm điều gì đó.</p>

<p>Hoằng có cái đài cũ kĩ, đen đủi và xấu xí. Nó chỉ mở một bài “Hạ trắng”. Tôi không thích bài hát. Nhưng tôi bị ám ảnh bởi cái tên hạ trắng.</p>

<p>Ngày tháng qua đi, tôi và Hạ càng trở nên khăng khít đến không thể tách rời. Ngày nào tôi cũng qua chỗ Hạ. Tôi đưa đón Hạ đi học thêm. Chúng tôi đã tâm sự với nhau đủ thứ chuyện trên đời và tôi có cảm giác như đã nhìn thấu con người Hạ, như Hạ chính là một phần của con người mình vậy. Nhưng tôi chưa bao giờ dám đụng đến người Hạ. Hạ quá trong trắng đến nỗi tôi sợ bất kì điều gì cũng có thể làm tổn thương em.</p>

<p>Tối thứ bảy. Gió mùa hanh khô và lạnh cắt. Như thường lệ tôi dắt xe đạp đi học thêm tiếng anh. Thằng chột hôm nay có vẻ khác thường. Nó nhìn tôi, ánh mắt nghi ngại. Tôi lầm lũi dắt xe đi.</p>

<p>Lớp học tiếng anh nhàm chán như thường lệ. Cô giáo là sinh viên trường ngoại ngữ, cười khá duyên nhưng đôi mắt mắt buồn vời vợi. Buổi học khá ảm đạm trừ một việc. Hôm nay cô giáo đột nhiên giới thiệu. “Tên tôi là Hạ”, cô nói, “mà bây giờ là mùa đông”. Tôi thoáng rùng mình. Chẳng biết liên quan gì mà một cảm giác bất an bỗng nhiên tràn đến. Tôi muốn nói to lên một điều gì đó, nhưng không biết sẽ nói gì.</p>

<p>Tôi đạp xe bung lung trên đường về. Con đường dọc công viên, đèn đường lờ nhờ. Ngoài đường cave mời chào còn trong kia người ta ôm hôn nhau. Gió lạnh buốt tuỷ. Tôi bỗng có cảm giác có ai đó đang nhìn mình ở phía sau. Tôi quay lại. Dưới ánh đèn đường bàng bạc là một cô gái áo trắng, tóc để xõa, ánh mắt thảng thốt, miệng cười ngây dại. Tự nhiên tôi chẳng cảm giác được chuyện gì đang xảy ra nữa. Như tâm trí tạm trôi vào một thế giới khác. Mất một lúc. Rồi chẳng nhớ bằng cách nào, như có ai đó nhấc bổng tôi rồi quăng đến đến trước một ghế đá, mắt trợn trừng. Đôi tình nhân đang say sưa hôn hít ngẩng lên. Gã đàn ông nhìn tôi như nhìn người từ hành tinh khác. Còn Hạ cúi gằm.</p>

<p>Tôi không sao quên được cảnh tượng trên ghế đá hôm đó. Chúng hiện về đỏ rực trong hai con mắt tôi. Tôi thấy bỏng rát hai con mắt. Tôi định đưa tay móc hai con ngươi ra để cho máu chảy xối xả có thể làm mát đôi mắt. Nhưng tôi đã không làm thế.</p>

<p>Tôi hẹn Hạ 8h30 tối, nhưng hơn 9 giờ tôi mới đến. Hạ đã đợi từ trước. Im lặng. Một tiếng. Hai tiếng. Thời gian lặng lẽ trôi qua. Im lặng. “Đồ đĩ !”, tôi bật nói. Hạ khóc.</p>

<p>Thằng chột vẫn mở bài hát cũ. Hạ trắng. Tôi bắt bầu thấy sợ hãi bài hát. Từng giai điệu của nó luôn ám ảnh tôi, đầy đoạ tôi. Tôi chỉ muốn vớ lấy cục sắt đen sì phát ra thứ âm thanh đáng nguyền rủa ấy mà băm nát nó ra. Nhưng tôi đã luôn kiềm chế được.</p>

{% include pullshare.html %}

<p>Từ đó, cái bóng áo trắng hôm trước luôn hiện về, không buông tha cho tôi. Không chỉ một mà rất nhiều bóng áo trắng. Chúng luôn lượn lờ ở đầu giường, phía sau đỉnh đầu tôi nằm, im lặng kiên nhẫn nhìn tôi, chờ tôi chợp mắt để đánh thức tôi dậy, hoặc đưa tôi vào những giấc mơ điên cuồng thác loạn. Chúng không cho tôi ngủ cũng không cho tôi thức. Chúng không cho tôi tỉnh cũng không cho tôi say. Nhiều lần tôi muốn thét lên trong mơ hãi hùng nhưng không sao thét được. Chỉ một lần duy nhất tôi bừng tỉnh giữa một giấc mơ kinh hoàng. Tôi nôn mửa nhoe nhoét ra giường đệm chăn chiếu. Tôi chợt thấy lòng bình yên lạ thường. Tôi thu mình vào góc giường và thiếp đi lúc nào không hay.</p>

<p>Tôi dần trở lại bình thường. Tôi lại đến trường, và vào các tối thứ ba, thứ bảy tôi vẫn đi học tiếng anh. Con đường dọc công viên tôi thường cúi đầu đạp như có ai đuổi. Tôi sợ phải nhìn lên. Dù vậy tôi vẫn cảm thấy có một bóng áo trắng đứng cạnh cột đèn đường với đôi mắt ẩn hiện xa xăm.</p>

<p>Lớp tiếng anh ngày cành trở nên vui hơn. Mọi người đã trở nên thân quen và bắt đầu có những tiếng cười vui vẻ trong lớp. Buổi học cuối tuần cô giáo đề nghị: “Ngày mai chủ nhật lớp mình sẽ đi picnic, OK?”.</p>

<p>Nói thêm về cô giáo tiếng anh của tôi. Cô tên Hạ. Đó là điều duy nhất tôi tôi không thích ở cô. Cô sinh viên năm cuối trường ngoại ngữ có đôi mắt buồn sâu thẳm như ẩn giấu điều gì nhưng mỗi khi cười thì đôi mắt ấy lại trở nên cuốn hút lạ lùng. Tôi không biết nhà cô ở đâu. Có một gã thường đưa đón cô đi dạy. Gã người to lớn, thô, mặt đen sì, đôi mắt đỏ ngầu đờ đẫn. Tôi rất ghét gã này. Gã thường nhìn tôi soi mói. Những lúc như thế tôi chỉ ước mình có hai cây kim nhọn để chọc thẳng vào hai mắt gã. Tôi luôn tự nhủ mình không được nghĩ như thế, nhưng ý muốn đó cứ lởn vởn trong đầu. Một lần tôi hỏi: “Người yêu cô giáo ạ?”. Hạ không nói gì, chỉ thảng thốt cười.</p>

<p>Buổi picnic có 13 người đi. Đúng ra là chỉ có 12 người trong lớp nhưng cô giáo dẫn theo một người, giới thiệu là em gái, tên là Xuân. Xuân người nhỏ nhắn, hỏi gì chỉ cười. “Em lớp mười một,”, Xuân trả lời như vậy khi tôi hỏi, “còn anh?”. Tôi định nói gì đó. Nhưng tôi mãi nhìn ra cửa xe và quên mất mình cần phải trả lời.</p>

<p>Buổi picnic không vui như dự kiến của tôi. Mọi người cặp đôi với nhau và đi đâu hết, chỉ còn tôi và hai chị em Xuân. Chị Hạ nhìn xa xăm như đang nghe ngóng điều gì đó. Tôi nhìn Xuân và chợt bối rối. Đã mấy lần tôi định bắt chuyện nhưng không biết bắt đầu như thế nào.</p>

<p>Từ đó tôi không gặp lại Xuân nữa. Nhưng không hiểu sao tôi tin chắc đây là một người rất quan trọng trong cuộc đời mình.</p>

<p>Tôi ngày càng trở nên thích những buổi học thêm tiếng anh hơn. Tôi chờ đợi từng buổi học. Không hẳn vì tôi thích học hay thích không khí trên lớp. Một hôm tôi chợt rùng mình nhận ra rằng chính là cái công viên quỷ ám đó đã cuốn hút tôi. Mỗi lần đi qua đấy, tôi vẫn phải cúi mặt xuống đạp, và vẫn mơ hồ mường tượng thấy bóng áo trắng cùng đôi mắt ẩn hiện cạnh cột đèn đường. Tôi nửa ám ảnh, nửa sợ hãi, nửa bị cuốn hút bởi cái cảm giác đó. Dần dà, vào những hôm không học tiếng anh, tôi vẫn phải đạp xe qua đó một lần. Đạp qua rồi lại đạp về. Tôi đã cố gắng kiềm chế để không làm vậy, nhưng tôi không thể.</p>

<p>Thằng Hoằng một hôm đem ở đâu về một thanh kiếm mỏng, dài và sáng quắc. Thanh kiếm không có vỏ. Hoằng bọc nó bằng một miếng vỏ bì gai, nhưng tấm vỏ quá nhỏ nên đoạn đầu kiếm vẫn lòi ra. Nó treo thanh kiếm lên mái nhà và thỉnh thoảng lại lấy xuống lau rửa. Nó lau thanh kiếm rất cẩn thận, như người ta chăm chút con ngươi mắt mình vậy. Có lần tôi hỏi nó: “Mày cần thanh kiếm làm gì vậy?”. Hoằng không trả lời.</p>

<p>Tôi vẫn bị ám ảnh nặng nề bởi cái công viên ma quái, và chưa một lần dám ngẩng mặt lên mỗi khi đi qua đó. Một hôm tôi nảy ra ý định mượn Hoằng cây kiếm. Có cây kiếm tôi sẽ dũng cảm hơn và sẽ đối mặt với bóng ma áo trắng đó, sẽ nhìn thẳng vào mắt nó, xem nó làm được gì nào! Nói là làm. Một hôm Hoằng không có nhà, tôi trèo lên lấy cây kiếm xuống. Tôi xỏ cây kiếm qua cặp, lấy mảnh bì bọc phần lòi ra của nó. Xong việc, tôi lên đường.</p>

<p>Đêm ấy, bầu trời nhiều sao. Gió lành lạnh. Tôi đạp xe rất thong thả, lòng vô cùng bình yên. Nhưng khi công viên không còn xa, tôi bắt đầu hồi hộp. Càng đến gần tôi càng hồi hộp hơn. Như có một trở lực nào đó cứ đẩy tôi trở lại. Người tôi rã rời, chân tôi không muốn đạp tiếp nữa. Tôi dừng xe lại và hít thở thật sâu. Tôi bắt đầu lấy lại bình tĩnh và đi tiếp. Đã đến đoạn đường đầu công viên. Tôi cố gắng hết sức để không cúi mặt xuống. Nhưng mắt tôi cứ nhắm lại. Tay phải tôi nắm chặt chuôi thanh kiếm và lao thẳng xe đến  cột đèn đường. Tôi rút phăng thanh kiếm và mở trừng mắt. Nhưng chẳng có cái bóng áo trắng nào ở đấy cả. Không một ai. Chỉ có cây cột đèn đường trơ trơ bất động. Một số người gần đó quay lại nhìn. Tôi vẫn đứng yên, bất động như người mất hồn. Chừng năm phút trôi qua, tôi bắt đầu nhận ra mọi việc. Tôi xỏ lại thanh kiếm như cũ, lầm lũi đạp xe đi trước con mắt tròn xoe của mọi người.</p>

{% include pullsub.html %}

<p>Từ hôm ấy tôi không còn sợ cái công viên quái gở kia nữa. Nhưng tôi tin chắc rằng cái bóng áo trắng ấy chính là Hạ, cô giáo tiếng anh của tôi. Mỗi lần trên lớp, tôi thường nhìn sâu vào mắt Hạ. Hạ nửa như nhìn lại tôi, nửa như nhìn cái gì đó phía sau tôi. Đôi mắt Hạ ẩn chứa một nỗi bất an thảng thốt thường trực. Tôi như bị mê hoặc. Nhiều lần tôi muốn thoát ra khỏi cái nhìn của Hạ nhưng không thể. Tôi bị thôi miên, tôi tin chắc thế.</p>

<p>Từ đấy, tôi như kẻ mất hồn. Tôi nhớ Hạ kinh khủng. Tôi không thể đợi mỗi tối thứ ba và thứ bảy để gặp Hạ. Tôi phải đi theo để biết nhà Hạ. Nhưng còn cái gã to lớn với đôi mắt đỏ ngầu luôn đi theo đưa đón Hạ. Gã vẫn nhìn tôi gằm gằm. Gã muốn ăn thịt tôi, tôi tin chắc thế. Tôi đã đọc một vài cuốn truyện và được biết một số bộ tộc da đỏ ăn thịt người như thế nào. Tôi tin chắc gã này thuộc số đó.</p>

<p>(còn tiếp - sẽ đăng sau)</p>

<p class="muted font-xsmall">Hà Nội - 19/9/2002</p>

<p class="next-post">Có lẽ bạn cũng thích: <a class="proud-link" href="/con-nguoi.html">Con & Người: nhìn từ cấu trúc bộ não</a><br><span class="font-small muted">Vì sao việc quan sát toàn cảnh có thể thay đổi con người bạn.</span>
</p>