<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}vi{% endif %}" class="no-js{% if page.is_post %} type-post{% else %} type-page{% endif %}{% if page.site_home %} site-home{% endif %}{% if page.header_image %} header-image{% endif %}{% if page.extra_class %} {{page.extra_class}}{% endif %}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id="wrapper">
      {% include header.html %}
	  <div class="container-fluid container-first">
        <section class="article-list">
          {{ content }}
		  {% if page.is_post %}
			{% include shareline.html %}
			{% include post_footer.html %}
		  {% endif %}
        </section>

        <p class="push-down"></p>
      </div>
    </div>

    {% include footer.html %}
    {% include sidebar.html %}
	<a href="#0" class="cd-top" title="Về đầu trang">&#x25B2;</a>
    {% include bottom.html %}
  </body>
</html>