<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}vi{% endif %}" class="no-js{% if page.site_home or page.categories == 'series' %} site-home{% endif %}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id="wrapper">
      {% include header.html %}
	  <div class="container-fluid container-first">
        <section class="article-list">
          {{ content }}
		  {% if page.shareline != false %}
		    {% if page.site_home %}
		      {% include share_page2.html %}
			{% else %}
			  {% if page.is_page != true %}
			    {% include shareline.html %}
			    {% include recommend.html %}
			  {% endif %}
			  {% include share_page2.html %}
			  {% if page.is_page != true %}
			    {% include post_footer.html %}
			  {% endif %}
			{% endif %}
          {% endif %}
        </section>

        <p class="push-down"></p>
      </div>
    </div>

    {% include footer.html %}
    {% include sidebar.html %}
    {% include bottom.html %}
  </body>
</html>