<!DOCTYPE html>
<html lang="{% if page.lang %}{{page.lang}}{% else %}vi{% endif %}" class="no-js{% if page.site_home %} site-home{% endif %}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id="wrapper">
      {% include header.html %}
	  <div class="container-fluid container-first">
        <section class="article-list">
          {{ content }}
		  {% if page.shareline != false %}
		    {% if page.site_home %}
		      {% include share_home.html %}
			{% else %}
			  {% include shareline.html %}
			{% endif %}
          {% endif %}
          {% include post_footer.html %}
        </section>

        <p class="push-down"></p>
      </div>
    </div>

    {% include footer.html %}
    {% include sidebar.html %}
    {% include bottom.html %}
  </body>
</html>