<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width" />
	<meta property="fb:admins" content="100000049454443" />
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary" />
	<title>{{ site.en_name }} - {{ site.en_title }}</title>
	<meta property="og:title" content="{{site.en_title}}" />
	<meta name="twitter:title" content="{{site.en_title}}" />
	<meta name="description" content="{{site.en_description}}">
	<meta name="og:description" content="{{site.en_description}}" />
	<meta name="twitter:description" content="{{site.en_description}}" />
	{% if page.image %}
	<meta property="og:image" content="{{page.image}}" />
	<meta name="twitter:image" content="{{page.image}}" />
	{% endif %}
	<link rel="canonical" href="{{site.url}}/en/"/>
	<meta property="og:url" content="{{site.url}}/en/" />
	<meta name="twitter:url" content="{{site.url}}/en/" />
	<link href="{{site.url}}/atom/en.xml" type="application/atom+xml" rel="alternate" title="{{ site.en_name }} - {{ site.en_title }}">
  </head>
  <body>
	{{ content }}
	{% include en_bottom.html %}
  </body>
</html>