---
layout: default_simple
---
<article class="article">
<div>
<div class="post-title">
<p class="font-xsmall" style="margin:30px 0 0 0"><a href="/linhtinh/" style="color:#999">{% if page.label %}{{page.label}}{% else %}{% if page.form == "poem" %}THƠ THẨN{% else %}TÀO LAO{% endif %}{% endif %}</a></p>
<h2 style="margin-top:5px">{{ page.title }}</h2>
<div class="font-small muted"><address><a rel="author" href="{% if page.author_url %}{{ page.author_url }}{% else %}/about.html{% endif %}">{% if page.author %}{{ page.author }}{% else %}Trương Hồng Thi{% endif %}</a><address> - <time datetime='{{ page.date | date: "%Y-%m-%d" }}'>{{ page.date | date: "%-d/%-m/%Y" }}</time></div>
</div>
<div class="{{ page.content_class}} article-content">
{{ content }}
</div>
</article>
